<aside>
    <div class="widget">
   
    <div class="widget">
        <h3>TOP 10 Populares</h3>
        <ul>
            <li>
                <a href="#">Película 1</a>
            </li>
            <li>
                <a href="#">Película 2</a>
            </li>
            <li>
                <a href="#">Película 3</a>
            </li>
            <li>
                <a href="#">Película 4</a>
            </li>
            <li>
                <a href="#">Película 5</a>
            </li>
            <li>
                <a href="#">Película 6</a>
            </li>
            <li>
                <a href="#">Película 7</a>
            </li>
            <li>
                <a href="#">Película 8</a>
            </li>
            <li>
                <a href="#">Película 9</a>
            </li>
            <li>
                <a href="#">Película 10</a>
            </li>
        </ul>
    </div>

</aside>